<div id="flux_timeseries_{{account.id}}" class="flux_timeseries_container">
  {% block flux_timeseries_container %}

  <div class="flux_icon">
    {% block flux_icon %}
    <img alt="icon for {{account}}" 
	 src="{{STATIC_URL}}flux/img/{{account.type}}.png" />
    {% endblock flux_icon %}
  </div>

  <div class="flux_mean">
    {% block flux_mean %}
    <p class="{{account.type}}">
      {{timeseries.mean|floatformat}} 
      <span class="label">
	{% include mean_label_template %}
      </span>
    </p>
    {% endblock flux_mean %}
  </div>

  <div class="flux_timeseries">
    {% block flux_timeseries %}
    <div class="timeseries">
      {% for bin in timeseries %}
      <div class="bin_outer" style="width: {{bin.width_pct_str}};">
	<div class="bin_inner" style="height: {{bin.height_pct_str}};">
	</div>
      </div>
      {% endfor %}
    </div>
    {% endblock flux_timeseries %}
  </div>

  {% endblock flux_timeseries_container %}
</div>
  
