{% block flux_timeseries_container %}
<div id="flux_timeseries_{{account.id}}" class="flux_timeseries_container">
  {% block flux_icon %}
  <img alt="icon for {{account}}" 
       src="{{STATIC_URL}}flux/img/{{account.type}}.png" />
  {% endblock flux_icon %}
  {% block flux_mean %}
  <p class="{{account.type}}">
    {{timeseries.mean|floatformat}} 
    <span class="label">
      {% include mean_label_template %}
    </span>
  </p>
  {% endblock flux_mean %}
  {% block flux_timeseries %}
  {% endblock flux_timeseries %}
</div>
{% endblock flux_timeseries_container %}
  
