
// need to hide the blocks to avoid flickering
.flux_timeseries {
  display: none;
}

// style the sparkline
.flux_timeseries svg.timeseries.sparkline {
  display: block;
  width: 90px;
  height: 26px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.sparkline path {
  stroke: #bbb;
  stroke-width: 2;
  fill: none;
}
