
/* need to hide the blocks to avoid flickering */
.flux_timeseries {
  display: none;
  position: relative;
}

/* style the sparkline */
.flux_timeseries svg.timeseries.sparkline {
  width: 90px;
  height: 36px;
  margin-top: 12px;
  margin-bottom: 2px;
}
.sparkline path {
  stroke: #bbb;
  stroke-width: 2;
  fill: none;
}

/* style the time axis */
.sparkline .axis {
  fill: #666;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}
.sparkline .axis .domain {
  stroke: none;
}

/* style the hover info labels */
.flux_timeseries p.hover_info {
  position: absolute;
  top: 10px;
  margin: 0;
  text-align: center;
  width: 90px;
  z-index: 1;
  color: #333;
  font-size: 10px;
  font-family: Helvetica, Arial, sans;
}
